/***** contact form *****/
#contact-form {
	position:relative;
	vertical-align:top;
	width:100%;
	z-index:1;
}
	#contact-form fieldset {border:none; padding:0; width:100%; overflow:hidden;}
		#contact-form label {display:block; min-height:46px; position:relative;}
			#contact-form .message{min-height:273px;}
			#contact-form input, #contact-form textarea {
				padding:9px 13px 10px;
				margin:0;
				font: 12px Arial, Helvetica, sans-serif;
				color:#000;
				background:#fff;
				outline:none;
				border:1px solid #e4e4e4;
				width:322px;
				border-radius:6px;
			}
			#contact-form .area .error {float:none;}
			#contact-form textarea {
				width:512px;
				height:245px;
				resize:none;
				overflow:auto;
			}
			#contact-form .success {display:none; margin-bottom:15px;}
			#contact-form .error,
			#contact-form .empty {
				color:#f00;
				font-size:11px;
				line-height:14px;
				display:none;
				overflow:hidden;
				margin-bottom:5px;
			}
.buttons-wrapper{text-align:right; position:relative;}
.buttons-wrapper a {cursor:pointer;}
	.buttons-wrapper a[data-type="reset"]{margin-right:10px;}

@media only screen and (max-width: 995px) {
	#contact-form input{width:280px;}
	#contact-form textarea{width:400px;}
}
@media only screen and (max-width: 767px){
	#contact-form textarea{width:392px;}
}
@media only screen and (max-width: 479px){
	#contact-form input{width:190px;}
	#contact-form textarea{width:272px;}
}