.box2,
img,
ul.nav li,
form.jqtransformdone input,
.jqTransformSelectWrapper,
#contact-form input, #contact-form textarea {behavior: url(js/PIE.htc); position:relative;}

body{min-width:960px;}