form.jqtransformdone{
	position:relative;
	vertical-align:top;
	width:100%;
	z-index:1;
}
	form.jqtransformdone fieldset{border:none; padding:0; width:100%;}
form.jqtransformdone label{
	display: block;
	min-height:43px;
}
	form.jqtransformdone label.min-price{float:left; margin-right:17px;}
	form.jqtransformdone label.max-price{float:left;}
form.jqtransformdone label > span.label{
	display:block;
	font:12px/18px Arial, Helvetica, sans-serif;
	color:#000;
}
	form.jqtransformdone label.max-price > span.label{margin-left:-10px;}

form.jqtransformdone input {
	padding:1px 3px 2px;
	margin:0;
	font: 11px Arial, Helvetica, sans-serif;
	color:#55595e;
	background:#fff;
	outline:none;
	border:1px solid #a3a3a3;
	width:212px;
	border-radius:2px;
}

form.jqtransformdone div.rowElem{clear:both;}

form.jqtransformdone .button-wrapper{text-align:right; padding-top:17px;}
/* -------------
 * Selects
 * ------------- */
.jqTransformSelectWrapper {
	width: 218px !important;
	position:relative;
	height: 17px;
	background: #fff;;
	border:1px solid #a3a3a3;
	border-radius:2px;
}
	form.jqtransformdone label.min-price .jqTransformSelectWrapper{width:109px !important;}
	form.jqtransformdone label.max-price .jqTransformSelectWrapper{width:90px !important;}

.jqTransformSelectWrapper span {
	background:#fff;
	display:block;
	font: 11px Arial, Helvetica, sans-serif;
	color:#55595e;
	position: absolute;
	white-space: nowrap;
	padding:1px 5px 2px;
	overflow: hidden;
	cursor:pointer;
	width:190px !important;
}
	form.jqtransformdone label.min-price .jqTransformSelectWrapper span{width:81px !important;}
	form.jqtransformdone label.max-price .jqTransformSelectWrapper span{width:62px !important;}

	input#SaleMinPrice {width: 93px !important; text-align: right;}
	input#RentMinPrice {width: 93px !important; text-align: right;}
	input#SaleMaxPrice {width: 94px !important; text-align: right;}
	input#RentMaxPrice {width: 94px !important; text-align: right;}

.jqTransformSelectWrapper a.jqTransformSelectOpen {
	display: block;
	position: absolute;
	right: 0px;
	width: 17px;
	height: 17px;
	background: url(../../img/portal/select-button.png) center center no-repeat;
}

.jqTransformSelectWrapper ul {
	position: absolute;
	width: 218px !important;
	top: 17px;
	left: -1px;
	list-style: none;
	font: 11px/14px Arial, Helvetica, sans-serif;
	background-color: #fff;
	border: 1px solid #a3a3a3;
	display: none;
	margin: 0px;
	padding: 0px;
	height: 150px;
	overflow: auto;
	overflow-y: auto;
	z-index:10;
}
	form.jqtransformdone label.min-price .jqTransformSelectWrapper ul{width:109px !important;}
	form.jqtransformdone label.max-price .jqTransformSelectWrapper ul{width:90px !important;}

.jqTransformSelectWrapper ul a {
	display: block;
	padding: 1px 5px 2px;
	text-decoration: none;
	color:#55595e;
	background-color: #fff;
}

.jqTransformSelectWrapper ul a.selected {
	background: #EDEDED;
	color: #333;
}

.jqTransformSelectWrapper ul a:hover, .jqTransformSelectWrapper ul a.selected:hover {
	background:#8fb900;
	color: #fff;
}

/* -------------
 * Hidden - used to hide the original form elements
 * ------------- */
.jqTransformHidden {display: none;}


/*=================================================================================*/
@media only screen and (max-width: 995px) {
	form.jqtransformdone label.min-price{margin-right:11px;}
	form.jqtransformdone label.max-price > span.label{margin-left:0;}
	form.jqtransformdone input {width:164px;}
	.jqTransformSelectWrapper, .jqTransformSelectWrapper ul {width: 170px !important;}
		form.jqtransformdone label.min-price .jqTransformSelectWrapper, form.jqtransformdone label.min-price .jqTransformSelectWrapper ul{width:79px !important;}
		form.jqtransformdone label.max-price .jqTransformSelectWrapper, form.jqtransformdone label.max-price .jqTransformSelectWrapper ul{width:78px !important;}
	.jqTransformSelectWrapper span {width:142px !important;}
		form.jqtransformdone label.min-price .jqTransformSelectWrapper span,
		form.jqtransformdone label.max-price .jqTransformSelectWrapper span{width:50px !important;}
	input#SaleMinPrice {width: 80px !important; text-align: right;}
	input#RentMinPrice {width: 80px !important; text-align: right;}
	input#SaleMaxPrice {width: 65px !important; text-align: right;}
	input#RentMaxPrice {width: 65px !important; text-align: right;}
}

@media only screen and (max-width: 767px) {
	form.jqtransformdone label.min-price{margin-right:20px;}
	form.jqtransformdone input {width:412px;}
	.jqTransformSelectWrapper, .jqTransformSelectWrapper ul {width: 418px !important;}
		form.jqtransformdone label.min-price .jqTransformSelectWrapper, form.jqtransformdone label.max-price .jqTransformSelectWrapper,
	form.jqtransformdone label.min-price .jqTransformSelectWrapper ul,
	form.jqtransformdone label.max-price .jqTransformSelectWrapper ul{width:198px !important;}
	.jqTransformSelectWrapper span {width:390px !important;}
		form.jqtransformdone label.min-price .jqTransformSelectWrapper span,
		form.jqtransformdone label.max-price .jqTransformSelectWrapper span{width:178px !important;}
	input#SaleMinPrice, input#RentMinPrice, input#SaleMaxPrice, input#RentMaxPrice {width: 192px !important; text-align: right;}
}

@media only screen and (max-width: 479px) {
	form.jqtransformdone input {width:292px;}
	.jqTransformSelectWrapper, .jqTransformSelectWrapper ul {width: 298px !important;}
		form.jqtransformdone label.min-price .jqTransformSelectWrapper,
		form.jqtransformdone label.max-price .jqTransformSelectWrapper,
		form.jqtransformdone label.min-price .jqTransformSelectWrapper ul,
		form.jqtransformdone label.max-price .jqTransformSelectWrapper ul{width:138px !important;}
	.jqTransformSelectWrapper span {width:278px !important;}
		form.jqtransformdone label.min-price .jqTransformSelectWrapper span,
		form.jqtransformdone label.max-price .jqTransformSelectWrapper span{width:110px !important;}
	input#SaleMinPrice, input#RentMinPrice, input#SaleMaxPrice, input#RentMaxPrice {width: 132px !important; text-align: right;}
}