.slider-bg{
	background:url(../../img/portal/slider-light.png) center top no-repeat;
	padding-top:27px;
}
#slides{
	width: 100%;
	position:relative;
	overflow:hidden;
}
.slides_container{
	width:940px;
	height:369px;
	overflow:hidden;
}
.slide{width:940px; height:auto;}
	.slide img{border-radius:0;}

/* Control Nav */
.pagination{
	overflow:hidden;
	z-index:999;
	text-align:center;
	font-size:0;
	line-height:0;
	padding:4px 0 1px;
}
	.pagination li{
		display:inline-block;
		text-indent:-5000px;
	}
		.pagination li a{
			display:block;
			height:22px;
			width:22px;
			background: url(../../img/portal/pagination.png) 0 0 no-repeat;
		}
			.pagination li.current a,.pagination li a:hover{background-position:-22px 0;}
			.pagination li.current a{cursor:default;}

@media only screen and (max-width: 995px){
	.slides_container{width:748px; height:294px;}
	.slide{width:748px;}
}
@media only screen and (max-width: 767px){
	.slides_container{width:420px; height:165px;}
	.slide{width:420px;}
}
@media only screen and (max-width: 479px){
	.slides_container{width:300px; height:118px;}
	.slide{width:300px;}
}