html,body{height:100%;}
body{
	background: url(../../img/portal/body-tail.gif) top center repeat;
	font:12px/18px Arial, Helvetica, sans-serif;
	color:#000;
	position:relative;
	min-width:320px;
}
.bg{background:url(../../img/portal/bg.jpg) center top repeat;}
.light{background:url(../../img/portal/light.png) center top no-repeat;}
/*********************************header*************************************/
header{
	background:url(../../img/portal/body-tail.gif) center top repeat;
	width:100%;
	padding:25px 0 47px;
}
#page1 header{padding-bottom:0;}
	header .indent-bottom{padding-bottom:22px;}
h1{float:left;}
	h1 a{
		display:block;
		width:222px;
		height:55px;
		overflow:hidden;
		font-size:0;
		line-height:0;
		text-indent:-100%;
		background:url(../../img/portal/logo.png) 0 0 no-repeat;
	}
		h1 a:hover{text-decoration:none;}

/********************************* Content **********************************/
#content{width:100%; padding:30px 0 70px;}
#page1 #content{padding:56px 0 118px;}

/* ---------- Titles ---------*/
h3{font:normal 18px/22px Arial, Helvetica, sans-serif; color:#000;}
	h3 a{color:inherit; text-decoration:none;}
		h3 a:hover{color:#94be06;}
h6{font-weight:bold; color:#000;}
	h6 a{color: inherit; text-decoration:none;}
		h6 a:hover{color:#84aa04; text-decoration:none;}

/*----------- Boxes ----------*/
.box1{
	font:12px/18px Arial, Helvetica, sans-serif;
	padding-left:80px;
}
	.box1.icon-1{background:url(../../img/portal/rent-icon.png) 6px 37px no-repeat;}
	.box1.icon-2{background:url(../../img/portal/sale-icon.png) 5px 37px no-repeat;}
	.box1.icon-3{background:url(../../img/portal/page1-icon1.png) 6px 47px no-repeat;}
.box2{
	color:#969696;
	font:12px/18px Arial, Helvetica, sans-serif;
	background: white;
	-webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
	-moz-box-shadow:    0px 0px 8px rgba(0,0,0,0.3);
	box-shadow:         0px 0px 8px rgba(0,0,0,0.3);
	position: relative;
	z-index: 90;
}
	.box2 .indents{padding:9px 8px 16px 9px;}
/*----------- Ribbons ----------*/
.ribbon-wrapper-green {
	width: 85px;
	height: 88px;
	overflow: hidden;
	position: absolute;
	top: -3px;
	right: -3px;
}
.ribbon-green {
	font: bold 15px Sans-Serif;
	color: #333;
	text-align: center;
	text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
	-webkit-transform: rotate(45deg);
	-moz-transform:    rotate(45deg);
	-ms-transform:     rotate(45deg);
	-o-transform:      rotate(45deg);
	position: relative;
	padding: 7px 0;
	left: -5px;
	top: 15px;
	width: 120px;
	background-color: #BFDC7A;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45));
	background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45);
	background-image:    -moz-linear-gradient(top, #BFDC7A, #8EBF45);
	background-image:     -ms-linear-gradient(top, #BFDC7A, #8EBF45);
	background-image:      -o-linear-gradient(top, #BFDC7A, #8EBF45);
	color: #6a6340;
	-webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
	-moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
	box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}

.ribbon-red {
	font: bold 15px Sans-Serif;
	color: #333;
	text-align: center;
	text-shadow: rgba(0,0,0, 1) 0px 1px 0px;
	-webkit-transform: rotate(45deg);
	-moz-transform:    rotate(45deg);
	-ms-transform:     rotate(45deg);
	-o-transform:      rotate(45deg);
	position: relative;
	padding: 7px 0;
	left: -5px;
	top: 15px;
	width: 120px;
	background-color: #ff6464;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ff6464), to(#ff3232));
	background-image: -webkit-linear-gradient(top, #ff6464, #ff3232);
	background-image:    -moz-linear-gradient(top, #ff6464, #ff3232);
	background-image:     -ms-linear-gradient(top, #ff6464, #ff3232);
	background-image:      -o-linear-gradient(top, #ff6464, #ff3232);
	color: white;
	-webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
	-moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
	box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}

.ribbon-green:before, .ribbon-green:after {
	content: "";
	border-top:   3px solid #6e8900;
	border-left:  3px solid transparent;
	border-right: 3px solid transparent;
	position:absolute;
	bottom: -3px;
}

.ribbon-green:before {
	left: 0;
}
.ribbon-green:after {
	right: 0;
}

label.error{color: red; font-style: italic; font-size: 10px; min-height: 0px !important;}
/*----------- Other -----------*/
blockquote{width:100%;}
	.quote-caption{text-align:right;}
time{}
/*---------- Text ----------*/
.font-1{font:13px/18px Arial, Helvetica, sans-serif;}
.word-sp{word-spacing:-2px;}
/*---------- Links ----------*/
a{color:#000; outline:none; cursor:pointer; text-decoration:underline;}
	a:hover{text-decoration: none;}
a[href^="tel:"]{color: inherit; text-decoration:none;}
.link-1{color:#94be06;}
.button{
	display:inline-block;
	cursor:pointer;
	font:13px/18px Arial, Helvetica, sans-serif;
	color:#e8e8e8;
	text-decoration:none;
	padding:8px 17px;
	background:#1d1d1d;
}
	.button:hover{text-decoration:none; background-color:#8fb900;}
/*----- Images -----*/
img{border-radius:6px;}
.icon{border-radius:0;}
.img-indent{float:left; margin-right:20px;}
.img-indent3{float:left; margin-right:15px;}
.img-indent5{float:left; margin-right:25px;}

/*---------- Lists -----------*/
.last-item{margin-right:0 !important; margin-bottom:0 !important;}
.list-1 li{
	font:bold 12px/18px Arial, Helvetica, sans-serif;
	padding-left:19px;
	background:url(../../img/portal/marker-1.png) 0 5px no-repeat;
	margin-bottom:13px;
}
	.list-1 a:hover{color:#94be06; text-decoration:underline;}
/*---------- Borders ---------*/
.border-bottom{border-bottom:1px solid #c5c5c5;}
/*---------- Indents ---------*/
p, .p3-1{margin-bottom:18px}
	.p0{margin-bottom:0;}		.p0-1{margin-bottom:3px;}
	.p1{margin-bottom:5px;}		.p1-1{margin-bottom:8px;}
	.p2{margin-bottom:10px;}	.p2-1{margin-bottom:12px;}
	.p3{margin-bottom:15px;}
	.p4{margin-bottom:20px;}	.p4-1{margin-bottom:22px;}
	.p5{margin-bottom:25px;}	.p5-1{margin-bottom:28px;}
	.p6{margin-bottom:30px;}	.p6-1{margin-bottom:32px;}
	.p7{margin-bottom:35px;}	.p7-1{margin-bottom:37px;}
	.p8{margin-bottom:40px;}	.p8-1{margin-bottom:42px;}
	.p10{margin-bottom:50px;}	.p10-1{margin-bottom:53px;}
	#propertythn{width: 100% !important;
		height: 100% !important;
		border-radius: 10px !important;
		-webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.3) !important;
		-moz-box-shadow: 0px 0px 8px rgba(0,0,0,0.3) !important;
		box-shadow: 0px 0px 8px rgba(0,0,0,0.3) !important;
		position: relative !important;
		z-index: 90 !important;}
.indent-top1{padding-top:5px;}
.indent-bottom3{padding-bottom:15px;}
.indent-bottom5-1{padding-bottom:28px;}
.indent-bottom7-1{padding-bottom:38px;}
.indent-bottom9{padding-bottom:45px;}
.indent-bottom11{padding-bottom:55px;}
/*----------- Map ------------*/
#map iframe{width:100%; height:271px; border-radius:6px;}
#map dl{width:100%; position:relative; overflow:hidden;}
#map dt{font-weight:bold; margin-bottom:18px;}
#map dl span {float:left; width:83px;}
#map dl a{text-decoration:none;}
	#map dl a:hover{color:#8fb900; text-decoration:none;}
/************************************** Footer *************************************/
footer{
	width:100%;
	color:#a4a4a4;
	padding-bottom:20px;
	font:13px/18px Arial, Helvetica, sans-serif;
}
	.footer-bg{background:#202020; padding:30px 0 27px; color:#949494;}
		.footer-bg h3{color:#fff;}
		.footer-menu li{
			background:url(../../img/portal/pic1.gif) 0 bottom repeat-x;
			font:12px/18px Arial, Helvetica, sans-serif;
			color:#949494;
			padding-bottom:9px;
			margin-bottom:10px;
		}
			.footer-menu a{color:#949494; text-decoration:none;}
				.footer-menu a:hover{color:#fff; text-decoration:none;}
		.social-icons{overflow:hidden;}
			.social-icons li{float:left; margin-right:7px;}
			.social-icons a{
				display:block;
				width:17px;
				height:15px;
				overflow:hidden;
				background-position: center top;
				background-repeat:no-repeat;
			}
				.social-icons a.icon-1{background-image:url(../../img/portal/icon-1.png); width:16px;}
				.social-icons a.icon-2{background-image:url(../../img/portal/icon-2.png);}
				.social-icons a.icon-3{background-image:url(../../img/portal/icon-3.png);}
				.social-icons a.icon-4{background-image:url(../../img/portal/icon-4.png);}
		#twitter_update_list{height:auto !important;}
		.twitter li{
			font:12px/19px Arial, Helvetica, sans-serif;
			padding-bottom:16px;
			background:url(../../img/portal/pic1.gif) 0 bottom repeat-x;
			margin-bottom:26px;
		}
		.twitter li.lastTweet{
			background:none;
			padding-bottom:0;
			margin-bottom:0;
		}
			.twitter li span{
				display:block;
				padding-left:49px;
				background:url(../../img/portal/twitter-icon.png) 0 center no-repeat;
				min-height:27px;
			}
			.twitter a{color:#597017; text-decoration:none;}
				.twitter a:hover{color:#fff; text-decoration:none;}
	.footer-text{text-align:center; padding-top:15px;}
		.footer-text a{color:inherit; text-decoration:none;}
			.footer-text a:hover{color:#fff; text-decoration:none;}

/*=================================================================================*/
@media only screen and (max-width: 995px) {
	p, .p3, .p3-1{margin-bottom:15px}
		.p4-1, .p5, .p5-1, .p6, .p6-1, .p7, .p7-1, .p8, .p8-1{margin-bottom:20px;}
		.p10, .p10-1{margin-bottom:30px;}
		h3{margin-bottom:15px !important;}
	.img-indent:not(.img-indent-none-tp) img, .img-indent3:not(.img-indent-none-tp) img, .img-indent5:not(.img-indent-none-tp) img{width:auto;}
	.indent-bottom7-1, .indent-bottom9, .indent-bottom11{padding-bottom:30px;}
	/*-----------------------------------------*/
	#content{padding:30px 0 !important;}
	.box1{padding-left:60px;}
		.box1.icon-1{background-position:0 37px;}
		.box1.icon-2{background-position:0 37px;}
		.box1.icon-3{background-position:0 54px;}
}

@media only screen and (max-width: 767px) {
	.img-indent:not(.img-indent-none-ml) img, .img-indent3:not(.img-indent-none-ml) img, .img-indent5:not(.img-indent-none-ml) img{width:auto;}
	.indent-bottom3{padding-bottom:30px;}
	/*-----------------------------------------*/
	.box1{padding-left:75px; background-position:0 40px !important;}
}

@media only screen and (max-width: 479px) {
	.img-indent:not(.img-indent-none-mp) img, .img-indent3:not(.img-indent-none-mp) img, .img-indent5:not(.img-indent-none-mp) img{width:auto;}
	/*-----------------------------------------*/
	h1 a{width:180px; height:48px; background-image:url(../../img/portal/logo-mp.png);}
}

/*** Subscribe form ****/
#subscribe-form label {display:block; position:relative;}
#subscribe-form input {
	padding:9px 13px 10px;
	margin:0;
	margin-bottom: 10px;
	font: 12px Arial, Helvetica, sans-serif;
	color:#000;
	background:#fff;
	outline:none;
	border:1px solid #e4e4e4;
	width:194px;
	border-radius:6px;
}

#subscribe-form .buttons-wrapper{text-align:left; position:relative;}
.subscribe-button{
	display:inline-block;
	cursor:pointer !important;
	font:13px/18px Arial, Helvetica, sans-serif;
	color:#e8e8e8 !important;
	text-decoration:none !important;
	padding:8px 17px;
	background:#414141;
}

.subscribe-button:hover{text-decoration:none; background-color:#8fb900;}

@media only screen and (max-width: 995px) {
	#subscribe-form input{width:146px;}
}

@media only screen and (max-width: 767px) {
	#subscribe-form input{width:174px;}


@media only screen and (max-width: 479px) {
	#subscribe-form input{width:272px;}
}