nav{
	position: relative;
	float:right;
	padding-top:17px;
}
#menu-icon{
	display:none;
	font:14px/18px Arial, Helvetica, sans-serif;
	color:#fff;
	text-transform:uppercase;
	padding:38px 22px 26px;
	background:#363636;
	cursor:pointer;
}
.menu {list-style:none;}
.menu > li {
	position:relative;
	float:left;
	font:14px/18px Arial, Helvetica, sans-serif;
	text-transform:uppercase;
	margin-right:36px;
}
	.menu > li > a {
		color:#fff;
		text-decoration:none;
	}
		.menu > li.sfHover > a,.menu > li > a:hover , .menu > li.current > a {text-decoration:none; color:#8fb900;}
	.menu .menu-arrow{display:none;}
/***submenu***/
.menu ul {
	position:absolute;
	top:-999em;
	min-width:126px; 
	display:none;
	padding:21px 16px 25px;
	background:url(../../img/portal/submenu-tail.gif) 0 0 repeat;
	z-index:999;
}
.menu li li{
	width:100%;
	padding:0;
	margin-bottom:14px;
	position:relative;
	font:13px/16px Arial, Helvetica, sans-serif;
	text-transform:none;
}
	.menu li li a{
		background:url(../../img/portal/menu-marker.png) 0 3px no-repeat;
		display:inline-block;
		padding-left:23px;
		color:#e8e8e8;
		text-decoration:none;
	}
		.menu li li > a:hover,.menu li li.sfHover > a{
			background-position:0 -58px;
			text-decoration:none;
		}
.menu li:hover ul, .menu li.sfHover ul {left:0px; top:26px;}
.menu li:hover li ul, .menu li.sfHover li ul {top:-999em;}
/***subsubmenu***/
.menu ul ul{background:url(../../img/portal/subsubmenu-tail.gif) 0 0 repeat;}
.menu li li:hover ul, .menu li li.sfHover ul {left:145px; top:-21px;}
.menu li li:hover li ul, .menu li li.sfHover li ul {top:-999em;}

@media only screen and (max-width: 995px){
	.menu > li {margin-right:20px;}
	.menu > li > a .menu-arrow{display:inline-block; width:10px; height:6px; overflow:hidden; text-indent:-999em; font-size:0; line-height:0; background:url(../../img/portal/menu-arrow.png) center -62px no-repeat; vertical-align:middle; margin-left:5px;}
		.menu > li.sfHover > a .menu-arrow, .menu > li > a:hover .menu-arrow, .menu > li.current > a .menu-arrow{background-position: center top;}
	.menu ul .menu-arrow{display:inline;}
}

@media only screen and (max-width: 767px) {
	nav{padding-top:0; margin-top:-25px;}
	#menu-icon{display:block;}
	/*menu*/
	.menu{display:none; position:absolute; top:84px; right:0; min-width:90px; padding:21px 16px 25px; background:url(../../img/portal/subsubmenu-tail.gif) 0 0 repeat; z-index:999;}
	.menu > li {float:none; width:100%; padding:0; margin-right:0; margin-bottom:14px; font:13px/16px Arial, Helvetica, sans-serif; text-transform:none;}
	.menu > li > a {background:url(../../img/portal/menu-marker.png) 0 3px no-repeat; display:inline-block; padding-left:23px; color:#e8e8e8;}
		.menu > li.sfHover > a, .menu > li > a:hover , .menu > li.current > a {color:#e8e8e8; background-position:0 -59px;}
			.menu > li > a .menu-arrow{display:inline; width:auto; height:auto; text-indent:0; font-size:inherit; line-height:inherit; background:none; margin-left:0; vertical-align:top;}
	/***submenu***/
	.menu ul {right:108px; left:auto !important; top:-21px !important;}
	/***submenu***/
	.menu ul ul {position:static; width:auto; padding:15px 0px 5px 20px; background:none;}
}

@media only screen and (min-width: 768px) {.menu {display:block !important;}}