/************tabs********************/
ul.nav {
	margin-bottom: 29px;
	list-style: none;
	width: 100%;
	overflow:hidden;
}
ul.nav li {
	float: left;
	font: 18px/20px Arial, Helvetica, sans-serif;
	overflow: hidden;
	position: relative;
	margin-right:20px;
	width:103px;
	text-align:center;
	border:1px solid transparent;
	border-radius:6px;
	background:url(../../img/portal/bg.jpg) 0 0 repeat;
}
ul.nav li a {
	display:block;
	color:#8e8e8e;
	text-decoration:none;
	padding:5px 0;
}
	
ul.nav li.selected, ul.nav li:hover {
	background:#94be06;
	border-color:#9ea781;
	font-size:16px;
}
	ul.nav li.selected a, ul.nav li:hover a{
		color:#fff;
		text-decoration:none;
	}
	ul.nav li.selected a{cursor:default;}